@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor1: #f4f4f4;
    --cor2: #D60751;

    --font-principal: 'Playfair Display', serif;
    --font-secundaria: arial, helvetica, sans-serif;
    --font-destaque: 'Great Vibes';
}

* {
    font-family: var(--font-principal);
    margin: 0px;
    padding: auto;
}

header {
    display: flex;
    align-items:flex-end;
    justify-content: space-around;
    background-color:var(--cor1);
    padding: 1px;
    margin: 0px;   
    height: 250px;
    
}

picture.logo {
    position:absolute;
    left: 40%;
    width: 100px;
    height: 300px;
    display:flex;
    margin: 0px;  
}

nav.menu {
    height: 40px;
    
}

header > picture {
    width: 100vw;

}

main{
    margin: 50px;
}
h1{
    font: var(--font-principal);
    font-size: 40px;
    padding: 40px 40px;

}
body {
    color: var(--cor2);
    margin: 0px;
    background-color: var(--cor1);
}

nav > a {
    margin: 0px 40px 0px 40px;
    position: relative;
    color: var(--cor2);
    align-items: right;
    text-decoration: none;
}

nav > a:hover {
    text-decoration: underline;
}

article {
    text-align: justify;
    padding: 50px 350px;
   
}

article > h1{
    text-align: center;
    
}
article > h3{
    margin: 40px;
    text-align: center;
}
article > h4 {
    text-align: center;
    font-weight: lighter;
}

footer {
    display: flex;
    align-items:flex-end;
    justify-content: space-around;
    text-align: center;
    background-color:var(--cor2);
    
}

footer > div{
    background-color: var(--cor2);
    color: var(--cor1);
    columns: 2;
    margin-bottom: 2px;
}

footer > nav > a{
    position: relative;
    display: flexbox;

}

.social{
    width: 30px;
    height: 30px;
    padding-bottom: 10px;
}
