@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor1: #f4f4f4;
    --cor2: #D60751;

    --font-principal: 'Playfair Display', serif;
    --font-secundaria: arial, helvetica, sans-serif;
    --font-destaque: 'Great Vibes';
}

* {
    font-family: var(--font-principal);
    margin: 0px;
    padding: auto;
}

header {
    display: flex;
    flex-direction: column;
    background-color:var(--cor1);
    padding: 0px;
    margin: 0px;   
    height: 250px;   
}

.logo {
    width: 200px;
    height: 300px;
    margin: auto;
}

.menu {
    display: flex;
    justify-content: center;
    height: 40px;
    
}

.menu > a {
    margin: 0px 40px 0px 40px;
    position: relative;
    color: var(--cor2);
    align-items: right;
    text-decoration: none;
}

nav > a:hover {
    text-decoration: underline;
}

.landing-img {
    width: 100vw;

}

body {
    color: var(--cor2);
    margin: 0px;
    background-color: var(--cor1);
}

.principal {
    margin: 20px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.conteudo {
    text-align: justify;
    padding: 50px 350px;
   
}
.titulo{
    text-align: center;
    font: var(--font-principal);
    font-size: 40px;
    padding: 40px 40px;
    
}

.cta{
    margin: 40px 0px 5px 0px;
    text-align: center;
}
.button {
    background-color: var(--cor2);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    padding: 10px;   
    text-align: center; 
    width: 250px;
}

footer {
    display: flex;
    align-items:flex-end;
    justify-content: space-around;
    text-align: center;
    background-color:var(--cor2);   
}

.morada {
    background-color: var(--cor2);
    color: var(--cor1);
    columns: 2;
    margin: 10px 0px;
}

.redes-sociais > a {
    position: relative;
    display: flexbox;
    padding: 0px 30px;
}

.social{
    width: 30px;
    height: 30px;
    padding-bottom: 20px;
}
